:root {
    --snow: #f5f0ee;
    --maroon: #410603;
    --cornsilk: #fff5d4;
    --indian-red: #ed4c4e;
    --misty-rose: #ffe8e9;
    --peach-puff: #ffd2b9;
    --thistle: #e4d3ff;
    --khaki-2: #f7ff82;
    --khaki: #ffe975;
    --pale-turquoise: #c6edde;
    --misty-rose-2: #fee3e1;
    --aquamarine: #34fad5;
    --light-blue: #d1effe;
    --white: #fff;
    --orange: #ffb106;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Organica, sans-serif;
}

nav {
    width: 100%;
    height: 20vh;
    background-color: var(--snow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8%;

    .navimg {
        width: 200px;
        margin-top: 20px;
    }

    .navright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 110px;
        margin-top: 19px;

        .navfor {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            font-family: Organica, sans-serif;
            color: #222;
            font-size: 14px;

            .for {
                text-decoration: none;
                color: #222;
            }

            .for::after {
                width: 0px;
                position: absolute;
                height: 3px;
                background-color: var(--indian-red);
                display: block;
                content: "";
                margin-top: 7px;
                transition: 1s;
            }

            .for:hover::after {
                width: 65px;
            }
        }

        .navpart {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            #part {
                border: 1px solid black;
                padding: 14px;
                width: 150px;
                text-align: center;
                border-radius: 10px;
                text-decoration: none;
                color: #222;
            }

            #Apply {
                padding: 14px;
                text-align: center;
                width: 120px;
                color: white;
                border-radius: 10px;
                background-color: #ed4c4e;
                text-decoration: none;
            }
        }
    }
}
.page1{
    background-color: var(--snow);
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 11%;
    padding: 8%;
    padding-block: 2%;
    .up {
            display: flex;
            justify-content: left;
            margin-bottom: 30px;
            margin-top: 20%;
            .one {
                width: 100px;
            }
    
            .redblack {
                width: 50px;
            }
        }
    
        div div {
            margin-bottom: 20px;
        }
    
        div h1 {
            font-size: 60px;
            color: var(--maroon);
            font-weight: bold;
            margin-bottom: 40px;
            line-height: 1.3;
    
            span {
                color: var(--indian-red);
            }
        }
    
        div p {
            width: 100%;
            font-size: 15px;
            color: var(--maroon);
            line-height: 1.5;
        }
    
        div .down {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 30px;
        }    
        #explore{
            padding: 18px;
            text-align: center;
            width: 200px;
            color: white;
            border-radius: 10px;
            background-color: #ed4c4e;
            text-decoration: none;
            margin-top: 20px;
            font-size: 14px;
        }
        #explore:hover {
            transition: 1s;
            margin-top: 1%;
            border-radius: 10px;
            background: #ed4c4e;
            box-shadow: 10px 10px 20px rgb(190, 171, 171),
        }
        .two{
            width: 40%;
            height: 101vh;
            background-color: var(--maroon);
            border-radius: 30px;
            background-image: url(../image/snake.webp);
            background-position: center;
            padding: 53px 20px 0px 30px;
            background-size: cover;
            position: relative;
            margin-bottom: 50px;
            img{
                width: 410px;
            }
            .circle {
                width: 80px;
                height: 80px;
                background-color: var(--cornsilk);
                border-radius: 50%;
                position: absolute;
                top: -2%;
                left: 89%;
            }

            .circle2 {
                width: 60px;
                height: 60px;
                background-color: var(--peach-puff);
                border-radius: 50%;
                position: absolute;
                top: 30%;
                left: -8%;
            }

            .circle3 {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                position: absolute;
                background-color: var(--misty-rose-2);
                top: 65%;
                left: -13%;
            }

            .circle4 {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: var(--thistle);
                position: absolute;
                top: 80%;
                left: 95%;
            }
        }
}
.page2{
    width: 100%;
    padding: 8%;
    background-color: var(--maroon);
    p{
        color: var(--indian-red);
        text-align: center;
        font-size: 13px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h1{
        color: white;
        font-size: 50px;
        text-align: center;
        margin-bottom: 10%;
    }
    .down{
        display: flex;
        justify-content: center;
        gap: 15%;
        .left{
            img{
                width: 550px;
            }
        }
        .right{
            p{
                color: var(--indian-red);
                font-size: 14px;
                margin-bottom: 30px;
                text-align: left;
            }
            h1{
                color: white;
                font-size: 40px;
                margin-bottom: 30px;
                text-align: left;
            }
            .intro{
                color: white;
                line-height: 1.5;
                font-size: 14px;
                margin-bottom: 30px;
            }
            .our{
                color: white;
                line-height: 1.5;
                font-size: 14px;
                margin-bottom: 50px;
            }
        }
    }
    .go{
        display: block;
        width: 200px;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 13px;
        border-radius: 8px;
        background-color: var(--indian-red);
    }
    .go:hover{
        margin-top: -3%;
        transition: 1s;
    }
}
.page3{
    width: 100%;
    background-color: var(--snow);
    padding: 8%;

    p {
        text-align: center;
        color: var(--indian-red);
        font-size: 12px;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
        color: var(--maroon);
        margin-bottom: 10%;
        font-size: 45px;
    }

    .down {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 0;

        .card1 {
            width: 360px;
            height: 380px;
            border-radius: 20px;
            color: var(--maroon);

            .one {
                border-radius: 50%;
                border: 1px solid var(--indian-red);
                width: 45px;
                height: 45px;
                padding-top: 13px;
                text-align: center;
                position: relative;
                top: -10%;
                color: var(--maroon);
            }

            h6 {
                color: var(--maroon);
                font-size: 17px;
                margin-top: -15px;
                // margin-bottom: 0;
            }

            .we {
                border: none;
                color: var(--maroon);
                width: 100%;
                font-size: 15px;
                line-height: 1.5;
                text-align: left;
                margin-top: 20px;
            }
        }

        .card2 {
            width: 360px;
            height: 380px;

            .one {
                border-radius: 50%;
                border: 1px solid var(--indian-red);
                width: 45px;
                height: 45px;
                padding-top: 13px;
                text-align: center;
                color: var(--maroon);
                position: relative;
                top: -10%;
            }

            h6 {
                color: var(--maroon);
                font-size: 17px;
                margin-top: -15px;
                // margin-bottom: 0;

            }

            .we {
                border: none;
                color: var(--maroon);
                width: 100%;
                font-size: 15px;
                line-height: 1.5;
                text-align: left;
                margin-top: 20px;
            }
        }

        .card3 {
            width: 360px;
            height: 380px;

            .one {
                border-radius: 50%;
                border: 1px solid var(--indian-red);
                width: 45px;
                height: 45px;
                padding-top: 13px;
                text-align: center;
                position: relative;
                top: -10%;
                color: var(--maroon);
            }

            h6 {
                color: var(--maroon);
                font-size: 17px;
                margin-top: -15px;
                // margin-bottom: 0;

            }

            .we {
                border: none;
                color: var(--maroon);
                width: 100%;
                font-size: 15px;
                line-height: 1.5;
                text-align: left;
                margin-top: 20px;
            }
        }

    }

    .get {
        display: block;
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        background-color: var(--indian-red);
        width: 200px;
        border-radius: 8px;
        padding: 20px;
        margin-left: 40%;
        margin-top: 0;
    }
}
.page4{
    background-color: var(--snow);
    padding: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    position: relative;
    .left{
        img {
            width: 280px;
            margin-bottom: 57%;
        }

        p {
            color: var(--indian-red);
            font-size: 14px;
            margin-bottom: 25px;
        }

        h1 {
            color: var(--maroon);
            font-size: 45px;
            margin-bottom: 28px;
            line-height: 1.2;
        }

        .at {
            line-height: 1.5;
            margin-bottom: 40px;
            color: var(--maroon);
        }

        .get {
            color: white;
            font-size: 13px;
            background-color: var(--indian-red);
            border-radius: 8px;
            display: block;
            padding: 22px;
            text-decoration: none;
            width: 200px;
            text-align: center;
        }

        .get:hover {
            margin-top: -3%;
            transition: 0.4s;
            box-shadow: 5px 5px 10px grey;
        }
    }
    .right{
        .img1{
            width: 600px;
        }
        .img2{
            width: 180px;
            position: absolute;
            top: 55%;
            left: 42%;
        }
    }
}
.page5{
    width: 100%;
    padding: 8%;
    padding-block: 10%;
    background-image: url(../image/backimg.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .leftpage {
        width: 100%;

        p {
            color: var(--indian-red);
            font-size: 13px;
            margin-bottom: 15px;
        }

        h3 {
            color: rgb(235, 211, 211);
            margin-bottom: 20px;
            font-size: 42px;
            line-height: 1.3;
        }

        .get {
            display: block;
            color: white;
            background-color: var(--indian-red);
            border-radius: 10px;
            padding: 20px;
            width: 200px;
            text-align: center;
            font-size: 14px;
            text-decoration: none;
        }
    }

    .rightpage {
        text-align: center;
        color: white;

        .up {
            display: flex;
            justify-content: center;
            gap: 20%;
            margin-bottom: 80px;
            color: rgb(246, 226, 226);

            h1 {
                margin-bottom: 17px;
                font-size: 30px;
            }

            p {
                font-size: 14px;
                line-height: 1.4;
            }
        }

        .down {
            display: flex;
            justify-content: center;
            gap: 20%;
            color: rgb(246, 226, 226);

            h1 {
                margin-bottom: 17px;
                font-size: 30px;
            }

            p {
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}
.page6{
    width: 100%;
    background-color: var(--snow);
    padding-block: 8%;
    text-align: center;

    p {
        color: var(--indian-red);
        font-size: 14px;
        margin-bottom: 20px;
    }

    h4 {
        color: var(--maroon);
        font-size: 45px;
        margin-bottom: 100px;
    }

    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .logoitem {
        background-color: white;
        text-align: left;
        padding: 15px;
        width: 250px;
        height: 300px;
        border-radius: 10px;

        .star {
            width: 80px;
            margin-bottom: 20px;
        }

        p {
            color: black;
            font-size: 12px;
            margin-bottom: 40px;
        }

        h4 {
            font-size: px;
        }

        .down {
            display: flex;
            justify-content: left;
            gap: 20px;
            margin-bottom: 0;

            .img img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            div h6 {
                color: var(--maroon);
                font-size: 20px;
            }
        }
    }
}

footer {
  background-color: var(--maroon);
  padding: 8%;
  .div1 {
    text-align: center;
    p {
      color: var(--indian-red);
      font-size: 14px;
      margin-bottom: 25px;
    }
    h4 {
      color: white;
      font-size: 50px;
      margin-bottom: 30px;
    }
    .part {
      display: block;
      text-align: center;
      text-decoration: none;
      width: 170px;
      font-size: 13px;
      background-color: var(--indian-red);
      border-radius: 8px;
      color: white;
      padding: 20px;
      margin-left: 500px;
      margin-bottom: 50px;
    }
  }
  hr {
    width: 100%;
    margin-bottom: 50px;
  }
  .div2 {
    margin-bottom: 40px;
    img {
      width: 200px;
      margin-bottom: 30px;
    }
    .div2down {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      color: white;
      gap: 100px;
      .div2left {
        display: flex;
        justify-content: center;
        gap: 80px;
        div h4 {
          margin-bottom: 20px;
        }
        div .for {
          display: block;
          text-decoration: none;
          color: white;
          margin-bottom: 20px;
          font-size: 13px;
        }
        .for:hover {
          margin-left: 15px;
          transition: 0.3s;
        }
      }
      .div2right {
        h4 {
          margin-bottom: 20px;
        }
        .div2up {
          background-color: white;
          border-radius: 8px;
          padding: 8px;
          margin-bottom: 20px;
          #email {
            border: none blue;
            padding: 15px;
          }
          button {
            background-color: var(--indian-red);
            border: none;
            border-radius: 7px;
            padding: 20px;
            color: white;
            font-size: 12px;
            width: 130px;
          }
        }
        .div2down {
          display: flex;
          justify-content: space-between;
          .dav1 .for {
            color: white;
            text-decoration: none;
            font-size: 13px;
          }
          .dav1 .for:hover {
            margin-left: 5px;
            transition: 0.3s;
          }
          .dav2 .for {
            color: white;
            text-decoration: none;
            font-size: 13px;
          }

          .dav2 .for:hover {
            margin-left: 5px;
            transition: 0.3s;
          }
        }
      }
    }
  }
  .div3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-top: 90px;
    .one {
      color: white;
    }
    .two {
      display: flex;
      justify-content: right;
      gap: 20px;
      .twitter{
        width:25px;
        color: white;
      }
      .facebook{
        width: 15px;
      }.insta{
        width: 20px;
      }
    }
  }
  .div4 {
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
  }
}