:root {
  --snow: #f5f0ee;
  --maroon: #410603;
  --cornsilk: #fff5d4;
  --indian-red: #ed4c4e;
  --misty-rose: #ffe8e9;
  --peach-puff: #ffd2b9;
  --thistle: #e4d3ff;
  --khaki-2: #f7ff82;
  --khaki: #ffe975;
  --pale-turquoise: #c6edde;
  --misty-rose-2: #fee3e1;
  --aquamarine: #34fad5;
  --light-blue: #d1effe;
  --white: #fff;
  --orange: #ffb106;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Organica, sans-serif;
}

nav {
  width: 100%;
  height: 20vh;
  background-color: var(--snow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8%;
}
nav .navimg {
  width: 200px;
  margin-top: 20px;
}
nav .navright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  margin-top: 19px;
}
nav .navright .navfor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: Organica, sans-serif;
  color: #222;
  font-size: 14px;
}
nav .navright .navfor .for {
  text-decoration: none;
  color: #222;
}
nav .navright .navfor .for::after {
  width: 0px;
  position: absolute;
  height: 3px;
  background-color: var(--indian-red);
  display: block;
  content: "";
  margin-top: 7px;
  transition: 1s;
}
nav .navright .navfor .for:hover::after {
  width: 65px;
}
nav .navright .navpart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav .navright .navpart #part {
  border: 1px solid black;
  padding: 14px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
}
nav .navright .navpart #Apply {
  padding: 14px;
  text-align: center;
  width: 120px;
  color: white;
  border-radius: 10px;
  background-color: #ed4c4e;
  text-decoration: none;
}

section {
  width: 100%;
  padding: 8%;
  padding-block: 5%;
  background-color: var(--snow);
}
section .one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48%;
  margin-bottom: 8%;
}
section .one h1 {
  font-size: 60px;
  color: var(--maroon);
}
section .one .contian {
  position: relative;
}
section .one .contian .round {
  animation: 10s spin infinite;
  width: 150px;
}
section .one .contian .img {
  width: 90px;
  position: absolute;
  top: 20%;
  left: 19%;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
section #search {
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  border: 1px solid var(--maroon);
  font-size: 18px;
  margin-bottom: 30px;
}
section .two {
  font-size: 15px;
  color: var(--maroon);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
section .three {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-bottom: 30px;
}
section .three button {
  font-size: 17px;
  padding: 20px;
  background-color: transparent;
  width: 35%;
  border: 1px solid var(--maroon);
  border-radius: 8px;
}
section .p {
  font-size: 17px;
  color: var(--maroon);
  margin-bottom: 40px;
}
section .p p span {
  font-weight: bolder;
  font-size: 20px;
}
section .four {
  display: flex;
  justify-content: center;
  gap: 13%;
}
section .four .left .card1 {
  margin-bottom: 6%;
}
section .four .left .card1 .up {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
section .four .left .card1 .up p {
  background-color: var(--cornsilk);
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
}
section .four .left .card1 .up article {
  font-size: 14px;
}
section .four .left .card1 .up p:hover {
  width: 100px;
  transition: 0.8s;
}
section .four .left .card1 .up .line {
  width: 50%;
  height: 0.05em;
  border: 0.5px solid var(--maroon);
}
section .four .left .card1 h1 {
  color: var(--maroon);
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 10px;
}
section .four .left .card1 h1:hover {
  text-decoration: underline;
}
section .four .left .card1 p {
  font-size: 13px;
  margin-bottom: 15px;
}
section .four .left .card1 .read {
  color: var(--white);
  text-align: center;
  text-decoration: none;
  background-color: var(--indian-red);
  border-radius: 7px;
  padding: 10px;
  font-size: 13px;
  width: 100px;
  display: block;
}
section .four .left .card1 .read:hover {
  font-size: 11px;
  transition: 0.3s;
  width: 90px;
}
section .four .right .card1 {
  margin-bottom: 6%;
}
section .four .right .card1 .up {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
section .four .right .card1 .up p {
  background-color: var(--cornsilk);
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
}
section .four .right .card1 .up p:hover {
  width: 100px;
  transition: 0.8s;
}
section .four .right .card1 .up article {
  font-size: 14px;
}
section .four .right .card1 .up .line {
  width: 50%;
  border: 1px solid var(--maroon);
}
section .four .right .card1 h1 {
  color: var(--maroon);
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 10px;
}
section .four .right .card1 h1:hover {
  text-decoration: underline;
}
section .four .right .card1 p {
  font-size: 13px;
  margin-bottom: 15px;
}
section .four .right .card1 .read {
  color: var(--white);
  text-align: center;
  text-decoration: none;
  background-color: var(--indian-red);
  border-radius: 7px;
  padding: 10px;
  font-size: 13px;
  width: 100px;
  display: block;
}
section .four .right .card1 .read:hover {
  font-size: 11px;
  transition: 0.3s;
  width: 90px;
}

footer {
  background-color: var(--maroon);
  padding: 8%;
}
footer .div1 {
  text-align: center;
}
footer .div1 p {
  color: var(--indian-red);
  font-size: 14px;
  margin-bottom: 25px;
}
footer .div1 h4 {
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}
footer .div1 .part {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 170px;
  font-size: 13px;
  background-color: var(--indian-red);
  border-radius: 8px;
  color: white;
  padding: 20px;
  margin-left: 500px;
  margin-bottom: 50px;
}
footer hr {
  width: 100%;
  margin-bottom: 50px;
}
footer .div2 {
  margin-bottom: 40px;
}
footer .div2 img {
  width: 200px;
  margin-bottom: 30px;
}
footer .div2 .div2down {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 100px;
}
footer .div2 .div2down .div2left {
  display: flex;
  justify-content: center;
  gap: 80px;
}
footer .div2 .div2down .div2left div h4 {
  margin-bottom: 20px;
}
footer .div2 .div2down .div2left div .for {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 13px;
}
footer .div2 .div2down .div2left .for:hover {
  margin-left: 15px;
  transition: 0.3s;
}
footer .div2 .div2down .div2right h4 {
  margin-bottom: 20px;
}
footer .div2 .div2down .div2right .div2up {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}
footer .div2 .div2down .div2right .div2up #email {
  border: none blue;
  padding: 15px;
}
footer .div2 .div2down .div2right .div2up button {
  background-color: var(--indian-red);
  border: none;
  border-radius: 7px;
  padding: 20px;
  color: white;
  font-size: 12px;
  width: 130px;
}
footer .div2 .div2down .div2right .div2down {
  display: flex;
  justify-content: space-between;
}
footer .div2 .div2down .div2right .div2down .dav1 .for {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
footer .div2 .div2down .div2right .div2down .dav1 .for:hover {
  margin-left: 5px;
  transition: 0.3s;
}
footer .div2 .div2down .div2right .div2down .dav2 .for {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
footer .div2 .div2down .div2right .div2down .dav2 .for:hover {
  margin-left: 5px;
  transition: 0.3s;
}
footer .div3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  margin-top: 90px;
}
footer .div3 .one {
  color: white;
}
footer .div3 .two {
  display: flex;
  justify-content: right;
  gap: 20px;
}
footer .div3 .two .twitter {
  width: 25px;
  color: white;
}
footer .div3 .two .facebook {
  width: 15px;
}
footer .div3 .two .insta {
  width: 20px;
}
footer .div4 {
  color: white;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}/*# sourceMappingURL=resources.css.map */